name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The new version number (e.g., 2.1.0)'
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      version: ${{ github.event.inputs.version }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm install

      - name: Update version in files
        run: npm run update-version -- ${{ github.event.inputs.version }}

      - name: Build extension
        run: npm run build

      - name: Commit version changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Release version ${{ github.event.inputs.version }}"
          git tag -a "v${{ github.event.inputs.version }}" -m "Version ${{ github.event.inputs.version }}"
          git push --follow-tags

      # Uploading raw build directories, not zips
      - name: Upload Chrome build
        uses: actions/upload-artifact@v4
        with:
          name: chrome-build-${{ github.event.inputs.version }}
          path: dist/chrome

      - name: Upload Edge build
        uses: actions/upload-artifact@v4
        with:
          name: edge-build-${{ github.event.inputs.version }}
          path: dist/edge

      - name: Upload Firefox build
        uses: actions/upload-artifact@v4
        with:
          name: firefox-build-${{ github.event.inputs.version }}
          path: dist/firefox

  publish-chrome:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - name: Install dependencies
        run: npm install

      - name: Download Chrome build
        uses: actions/download-artifact@v4
        with:
          name: chrome-build
          path: dist/chrome

      - name: Zip Chrome artifact
        run: |
          VERSION=${{ needs.release.outputs.version }}
          zip -r dist/chrome-v$VERSION.zip dist/chrome

      - name: Publish to Chrome Web Store
        env:
          EXTENSION_ID: ${{ secrets.GOOGLE_EXTENSION_ID }}
          CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET}}
          REFRESH_TOKEN: ${{ secrets.GOOGLE_REFRESH_TOKEN }}
        run: tsx tooling/publish-chrome.ts dist/chrome-v${{ needs.release.outputs.version }}.zip

  publish-firefox:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - name: Install dependencies
        run: npm install

      - name: Download Firefox build
        uses: actions/download-artifact@v4
        with:
          name: firefox-build
          path: dist/firefox

      - name: Publish to Firefox Add-ons
        env:
          FIREFOX_JWT_ISSUER: ${{ secrets.FIREFOX_JWT_ISSUER }}
          FIREFOX_JWT_SECRET: ${{ secrets.FIREFOX_JWT_SECRET }}
          RELEASE_VERSION: ${{ needs.release.outputs.version }}
        run: tsx tooling/publish-firefox.ts dist/firefox

  publish-edge:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - name: Install dependencies
        run: npm install

      - name: Download Edge build
        uses: actions/download-artifact@v4
        with:
          name: edge-build
          path: dist/edge

      - name: Zip Edge artifact
        run: |
          VERSION=${{ needs.release.outputs.version }}
          zip -r dist/edge-v$VERSION.zip dist/edge

      - name: Publish to Edge Add-ons
        env:
          CLIENT_ID: ${{ secrets.EDGE_CLIENT_ID }}
          API_KEY: ${{ secrets.EDGE_API_KEY }}
          PRODUCT_ID: ${{ secrets.EDGE_PRODUCT_ID }}
        run: tsx tooling/publish-edge.ts dist/edge-v${{ needs.release.outputs.version }}.zip

  create-github-release:
    name: Create GitHub Release
    needs: [ release, publish-chrome, publish-edge, publish-firefox ]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download all release files
        uses: actions/download-artifact@v4
        with:
          name: release-files
          path: release-artifacts

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "release-artifacts/*"
          tag: "v${{ needs.release.outputs.version }}"
          name: "Release ${{ needs.release.outputs.version }}"
          token: ${{ secrets.GITHUB_TOKEN }}